In [20]:
#TAREA N°1:

from IPython.display import IFrame  
ciaLink1="https://www.cia.gov/the-world-factbook/field/carbon-dioxide-emissions/country-comparison" 
IFrame(ciaLink1, width=900, height=900)

In [21]:
# read web table into pandas DF
import pandas as pd

linkToFile='https://github.com/CienciaDeDatosEspacial/code_and_data/raw/main/data/carbonEmi_downloaded.csv'
carbon=pd.read_csv(linkToFile)

In [22]:
# here it is:
carbon

,name,slug,value,date_of_information,ranking,region
0,China,china,"10,773,248,000.0",2019 est.,1,East and Southeast Asia
1,United States,united-states,"5,144,361,000.0",2019 est.,2,North America
2,India,india,"2,314,738,000.0",2019 est.,3,South Asia
3,Russia,russia,"1,848,070,000.0",2019 est.,4,Central Asia
4,Japan,japan,"1,103,234,000.0",2019 est.,5,East and Southeast Asia
...,...,...,...,...,...,...
213,Antarctica,antarctica,"28,000.0",2019 est.,214,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",saint-helena-ascension-and-tristan-da-cunha,"13,000.0",2019 est.,215,Africa
215,Niue,niue,"8,000.0",2019 est.,216,Australia and Oceania
216,Northern Mariana Islands,northern-mariana-islands,0.0,2019 est.,217,Australia and Oceania
217,Tuvalu,tuvalu,0.0,2019 est.,218,Australia and Oceania

In [23]:
# also
carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 218 non-null    object
 1   slug                 218 non-null    object
 2   value                218 non-null    object
 3   date_of_information  218 non-null    object
 4   ranking              218 non-null    int64
 5   region               218 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.3+ KB

In [24]:
# frequency table
carbon.region.value_counts()

Africa                               55
Europe                               43
Central America and the Caribbean    27
East and Southeast Asia              20
Australia and Oceania                20
Middle East                          19
South America                        13
South Asia                            8
North America                         6
Central Asia                          6
Antarctica                            1
Name: region, dtype: int64

In [25]:
# frequency table
carbon.date_of_information.value_counts()

2019 est.    216
2012 est.      1
2017 est.      1
Name: date_of_information, dtype: int64

In [26]:
#step 1: Mantener el nombre de las columnas, valor, datos de información y las regiones
carbon = carbon.loc[:, ['name', 'value', 'date_of_information', 'region']]

In [27]:
#step 2: Cambiar el nombre de la columna "date_of_information" --> "carbon_date"
carbon = carbon.rename(columns={'date_of_information': 'carbon_date'})

In [28]:
#step 3: Asegúrese de que las celdas con texto no tengan espacios al final ni al principio
# Para ello usamos ".strip()" --> Función que elimina los espacios en blanco, ya que estos cuentan como carácteres
carbon['name'] = carbon['name'].str.strip()
carbon['region'] = carbon['region'].str.strip()

In [29]:
#step 4: Detectar la presencia de símbolos en los datos numéricos que no sean numéricos o puntuales
mask = carbon['value'].str.contains('[^0-9.]', regex=True)
carbon[mask]

,name,value,carbon_date,region
0,China,"10,773,248,000.0",2019 est.,East and Southeast Asia
1,United States,"5,144,361,000.0",2019 est.,North America
2,India,"2,314,738,000.0",2019 est.,South Asia
3,Russia,"1,848,070,000.0",2019 est.,Central Asia
4,Japan,"1,103,234,000.0",2019 est.,East and Southeast Asia
...,...,...,...,...
211,Falkland Islands (Islas Malvinas),"46,000.0",2019 est.,South America
212,Montserrat,"33,000.0",2019 est.,Central America and the Caribbean
213,Antarctica,"28,000.0",2019 est.,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha","13,000.0",2019 est.,Africa
215,Niue,"8,000.0",2019 est.,Australia and Oceania

In [30]:
#step 5: Asegúrese de que no haya espacios como parte de los nombres de las columnas
carbon.columns = carbon.columns.str.replace(' ', '')

In [31]:
#step 6: Deshágase de cualquier valor detectado en el paso anterior
carbon['value'] = carbon['value'].str.replace('[^0-9.]', '', regex=True)

In [32]:
#step 7: Mantenga solo el valor del año en la columna carbon_date
carbon['carbon_date'] = carbon['carbon_date'].str.extract(r'(\d{4})')